body {
	background-color: #414241;
}

h1{
	color: orange;
	font-family: David;
	font-size: 300%;
	text-align: center;
}

p{
	color: white;
	font-family: David;
	font-size: 160%;
	text-align: center;
}

/* form border 
form {
	border: 3px solid #0d0d0d;
}
*/
/* form inputs */
input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* submit button styling */
button{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 13px;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* login with Google button styling*/
button2 {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	display: block;
}

/* login with GitHub button styling*/
button3{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	display: block;
}

/* create an account button styling*/
a {
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	display: block;
}

button5{
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	display: block;
}

button:hover {
	opacity: 0.8;
}

button2: hover {
	opacity: 0.8;
}

button3:hover {
	opacity: 0.8;
}

button4: hover{
	opacity: 0.8;
}

.container {
	padding: 16px;
}

span.psw{
	float: right;
	padding-top: 16px;
}
